body,html{
    height:100%
}

#content{
    padding: 10px; 
    height: 100%;
}

#preview{
    width: 100%; 
    height: 100%;
}

#scannerCard{
    padding: 20px;
}

#sideMenu{
    display: none;
    width: 70%;
	background-color: #888; 
}

.w3-card{
    max-width: 700px;
    margin: auto;
}

.w3-bar{
	background-color: #888; 
}

.mitte{     /* Test für mittige Navbar */
	width:100%;
	text-align: center;
}

/* th,td{
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd; 
} */

button{
    background-color: #888;
    color: white;
	border-color: #00c3ff;
	cursor:pointer;
}

button:hover{
	background-color: ;
}

input{
	border-color: #1E90FF;
}

.collapsible {
	background-color: #888;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

.active,
.collapsible:hover {
	background-color: #555;
	color: #00c3ff;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #FFFFFF;
}

body {
	background-color: #f1f1f1;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
	padding-top: 60px;
	opacity: 0.95;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
	transition: 0.1s;
}

.sidebar a:hover {
    color: #00c3ff;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #888;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #555;
    color: #00c3ff;
}

#main {
    transition: margin-left 0.1s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}