body {
	background: url(standort-lingen-campus.jpg) no-repeat center center fixed;
	/*  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	/*color: white; */
	font-family: 'Open Sans', 'Nunito', sans-serif;
	}
		.pin1 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 10%;
    left: 28%;
	}
	.pin2 {
    position: absolute;
    width: 30px;
    height: auto;
    top: 40%;
    left: 50%;
	}